


    #adis-dispatcher-overview
    {
        width:              96%;
        height:             96%;
        overflow:           hidden;
        
        position:           fixed;
        top:                2%;
        left:               2%;
        right:              2%;
        z-index:            2000;
        
        display:            flex;
        flex-flow:          column nowrap;
        justify-content:    flex-start;
        align-items:        center;
        
        background:         #eeeeee;
        border-radius:      5px;
    }
    
        #adis-dispatcher-overview > header
        {
            width:              100%;
            height:             72px;

            position:           relative;

            font-family:        "Open Sans";
            font-size:          24px;
            font-weight:        300;
            color:              #fafafa;
            background:         #212121;
        }

                #adis-dispatcher-overview-title
                {
                    width:              400px;
                    height:             100%;
                    padding:            8px 32px;

                    position:           absolute;
                    top:                0;
                    left:               0;
                    
                    display:            flex;
                    justify-content:    flex-start;
                    align-items:        center;

                    font-family:        "Open Sans";
                    font-size:          24px;
                    font-weight:        300;
                }

                #adis-dispatcher-overview-close
                {
                    width:              48px;
                    height:             48px;

                    position:           absolute;
                    top:                8px;
                    right:              16px;
                    
                    display:            flex;
                    justify-content:    center;
                    align-items:        center;

                    font-size:          32px;
                }
        
        #adis-dispatcher-overview .wrapper
        {
            width:              100%;
            height:             100%;
            overflow-x:         hidden;
            overflow-y:         auto;

            position:           relative;

            display:            flex;
            flex-flow:          column nowrap;
            justify-content:    flex-start;
            align-items:        center;
        }
            
                #adis-dispatcher-missions
                {
                    width:              320px;
                    height:             100%;
                    padding:            20px 20px;
                    overflow-x:         hidden;
                    overflow-y:         auto;

                    position:           absolute;
                    top:                0;
                    left:               0;

                    display:            flex;
                    flex-flow:          column nowrap;
                    justify-content:    flex-start;
                    align-items:        center;
                    
                    font-family:        "Open Sans";
                    font-size:          16px;
                }
                
                    #adis-dispatcher-missions .mission
                    {
                        width:              100%;
                        min-height:         96px;
                        margin:             4px 12px;
                        
                        position:           relative;

                        display:            flex;
                        flex-flow:          row nowrap;
                        justify-content:    flex-start;
                        align-items:        center;
                        
                        background:         #fafafa;
                        box-shadow:         0px 0px 6px 0px rgba(0,0,0,0.48);
                        border-radius:      4px;
                    }
 
                        #adis-dispatcher-missions .mission .name
                        {
                            width:              100%;
                            overflow:           hidden;
                            padding:            8px 16px;
                            
                            position:           absolute;
                            top:                0px;
                            left:               0px;

                            text-align:         left;
                            font-weight:        700;
                            text-overflow:      ellipsis;
                            white-space:        nowrap;
                        }
                        #adis-dispatcher-missions .mission .street
                        {
                            width:              100%;
                            overflow:           hidden;
                            padding:            4px 16px;
                            
                            position:           absolute;
                            top:                36px;
                            left:               0px;

                            font-size:          12px;
                            text-align:         left;
                            text-overflow:      ellipsis;
                            white-space:        nowrap;
                        }
                        #adis-dispatcher-missions .mission .valley
                        {
                            width:              100%;
                            overflow:           hidden;
                            padding:            4px 16px;
                            
                            position:           absolute;
                            top:                52px;
                            left:               0px;

                            font-size:          12px;
                            text-align:         left;
                            text-overflow:      ellipsis;
                            white-space:        nowrap;
                        }
                        #adis-dispatcher-missions .mission .countdown
                        {
                            width:              128px;
                            padding:            8px 16px;
                            
                            position:           absolute;
                            bottom:             0px;
                            right:              0px;

                            font-size:          12px;
                            text-align:         right;
                        }
